@model IEnumerable<Teams>

<a asp-action="Index" asp-controller="Home" asp-route-teamId="">Home</a>
<br />

@foreach (var x in Model)
{
    <a asp-action="Index" asp-controller="Home"
       asp-route-teamId="@x.TeamId"
       asp-route-team="@x.TeamName">@x.TeamName</a>
    <br />
}
